.footer {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  background-color: black;
  margin: 0;
}

.titolo {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2rem;
  text-align: center;
  //     font-weight: 700;
  //     margin-bottom: 0.5rem;
}
.content {
  text-align: center;
}
